body{
  background-color: rgb(245, 245, 245);
  margin-top: 50px;
}
h1{
  color: rgb(139, 131, 134);
  margin-left: 770px;
  font-family: serif;
  font-size: 40px;
}
h2{
  color: rgb(139, 131, 134);
  margin-top: 50px;
  font-family: serif;
  margin-left: 770px;
}
ul li{
  color: rgb(139, 131, 134);
  margin-top: 10px;
  font-family: serif;
  margin-left: 770px;
}
a{
  color: rgb(205, 145, 158);
}

a:hover{
  color: rgb(205, 183, 181);
}
